html,body{
    height: 100%;
}
body{
   display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background:#F1FAEE;
  
}
.container{
    background:#A8DADC;
   box-shadow: 5px 3px rgb(102, 99, 99);
    border-radius: 10px;
    width: 100%;
  max-width: 330px;
  padding: 20px;
  margin:auto ;
  z-index: 2;
  height: 525px;

}
.form-check-input{
    font-weight: 400;
}
.form-label-email{
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-label{
    margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.head{
  max-width: 200px;
  text-align: center;
  margin: auto;
  position:relative;
  font-family: Arial, Helvetica, sans-serif;
  

}
.head::before{
  content: "";
  width: 82px;
  height: 1px;
  display: block;
  background: rgb(143, 128, 128);
  position: absolute;
  top: 50%;
  left: 0;
}
.head::after{
  content: "";
  width: 82px;
  height: 1px;
  display: block;
  background: rgb(133, 123, 123);
  position: absolute;
  top: 50%;
  right: 0;
}

.link{
  text-decoration: none;
  color:rgb(230, 19, 19);
  margin-left: 150px;
  margin-top: 5px;
}


.fa {
  padding: 18px;
  font-size: 30px;
  width: 52px;
  text-align: center;
  text-decoration: none;
  margin: 25px 20px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #2214e0;
  color: white;
}
.fa-google {
  background: #d34f4f;
  color: white;
}

.fa-linkedin {
  background: #6b6bc4;
  color: white;
}
.foot{
  margin-left: 45px;
  margin-top: 15px;
}
.footLink{

  color:rgb(233, 64, 64);
  margin-left: 3px;
  
}